:root { 
  --dove-gray: #707070;
  --voodoo: #5a3555;
  --white: #ffffff;
  --yellow-sea: #fba900;
 
  --font-size-l: 33px;
  --font-size-m: 30px;
  --font-size-s: 25px;
  --font-size-xl: 35px;
  --font-size-xs: 20px;
  --font-size-xxl: 40px;
  --font-size-xxs: 16px;
 
  --font-family-eternallogo-regular: "EternalLogo-Regular", Helvetica;
  --font-family-eternalui-bold: "EternalUI-Bold", Helvetica;
  --font-family-icielcadena-regular: "iCielCadena-Regular", Helvetica;
}
.icielcadena-regular-normal-white-30px {
  color: var(--white);
  font-family: var(--font-family-icielcadena-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.eternalui-bold-white-20px {
  color: var(--white);
  font-family: var(--font-family-eternalui-bold);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 700;
}

.eternalui-bold-white-25px {
  color: var(--white);
  font-family: var(--font-family-eternalui-bold);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}

.eternalui-bold-white-16px {
  color: var(--white);
  font-family: var(--font-family-eternalui-bold);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 700;
}

.eternallogo-regular-normal-yellow-sea-35px {
  color: var(--yellow-sea);
  font-family: var(--font-family-eternallogo-regular);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.eternalui-bold-white-30px {
  color: var(--white);
  font-family: var(--font-family-eternalui-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.border-1px-dove-gray {
  border: 1px solid var(--dove-gray);
}
