/* screen - web-1920-2 */

.web-1920-2 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 5252px;
  min-width: 3440px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.web-1920-2 .background-purple-07RRWM {
  background-color: transparent;
  height: 3051px;
  left: 0px;
  object-fit: cover;
  position: fixed;
  top: 0px;
  width: 100%;
}

.web-1920-2 .social-media-07RRWM {
  background-color: transparent;
  height: 243px;
  left: calc(17.57% - 158px);
  position: absolute;
  top: 758px;
  width: 897px;
}

.web-1920-2 .path-16-dXFZQf {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 683px;
}

.web-1920-2 .path-17-dXFZQf {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 294px;
}

.web-1920-2 .path-18-dXFZQf {
  background-color: transparent;
  height: 45px;
  object-fit: cover;
  position: absolute;
  right: 1px;
  top: 1px;
  width: 608px;
}

.web-1920-2 .social-media-dXFZQf {
  background-color: transparent;
  height: 24px;
  left: calc(41.01% - 52px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: 128px;
}

.web-1920-2 .community-logo-dXFZQf {
  background-color: transparent;
  border-radius: 37px;
  height: calc(100.00% - 60px);
  left: 66px;
  object-fit: cover;
  position: absolute;
  top: 40px;
  width: 183px;
}

.web-1920-2 .discord-dXFZQf {
  background-color: transparent;
  bottom: 35px;
  cursor: pointer;
  height: 142px;
  left: calc(44.70% - 63px);
  object-fit: cover;
  position: absolute;
  width: 140px;
}

.web-1920-2 .twitter-dXFZQf {
  background-color: transparent;
  bottom: 35px;
  height: 142px;
  object-fit: cover;
  position: absolute;
  right: calc(23.86% - 33px);
  width: 140px;
}

.web-1920-2 .welcome-07RRWM {
  background-color: transparent;
  height: 538px;
  left: calc(50.00% - 1273px);
  position: absolute;
  top: 179px;
  width: 2546px;
}

.web-1920-2 .path-14-eiW7yR {
  background-color: transparent;
  height: 100%;
  left: 298px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 298px);
}

.web-1920-2 .path-7-eiW7yR {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 651px;
}

.web-1920-2 .path-15-eiW7yR {
  background-color: transparent;
  height: 96px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 1903px;
}

.web-1920-2 .card-smaller-eiW7yR {
  background-color: transparent;
  height: 424px;
  left: 285px;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 316px;
}

.web-1920-2 .component-8-3-eiW7yR {
  background-color: transparent;
  bottom: calc(43.71% - 33px);
  height: 75px;
  left: 48px;
  opacity: 0.66;
  position: absolute;
  width: 205px;
}

.web-1920-2 .rectangle-4-hmdLEI {
  background-color: var(--moonstone);
  border-radius: 48px;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.web-1920-2 .join-now-eiW7yR {
  background-color: transparent;
  bottom: calc(43.68% - 13px);
  height: 30px;
  left: 86px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 118px;
}

.web-1920-2 .welcome-to-the-culture-eiW7yR {
  background-color: transparent;
  height: 46px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  right: calc(42.70% - 206px);
  text-align: left;
  top: 30px;
  white-space: nowrap;
  width: 483px;
}

.web-1920-2 .the-cultured-kongz-a-eiW7yR {
  background-color: transparent;
  bottom: 25px;
  color: var(--white);
  font-family: var(--font-family-eternalui-regular);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
  height: 371px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  right: 129px;
  text-align: left;
  white-space: nowrap;
  width: 1733px;
}

.web-1920-2 .road-map-07RRWM {
  background-color: transparent;
  display: block;
  height: 806px;
  left: 12.99%;
  opacity: 0;
  position: absolute;
  top: 1210px;
  width: 74.02%;
}

.web-1920-2 .road-map-07RRWM.animate-enter1 {
  animation: animate-enter1-frames 0.20s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter1-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.web-1920-2 .path-27-TcssUt {
  background-color: transparent;
  height: 69px;
  left: 39.22%;
  object-fit: cover;
  position: absolute;
  top: 737px;
  width: 60.77%;
}

.web-1920-2 .mint-the-cultured-kongz-collection-TcssUt {
  background-color: transparent;
  bottom: calc(2.61% - 1px);
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 1139px;
  text-align: center;
  white-space: nowrap;
  width: 14.37%;
}

.web-1920-2 .path-7-TcssUt {
  background-color: transparent;
  height: 94px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 331px;
}

.web-1920-2 .roadmap-TcssUt {
  background-color: transparent;
  height: 41px;
  left: 33px;
  letter-spacing: 0.00px;
  line-height: 35px;
  position: absolute;
  text-align: left;
  top: 30px;
  white-space: nowrap;
  width: 236px;
}

.web-1920-2 .path-7-wrBxp7 {
  background-color: transparent;
  height: 711px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 88px;
  width: 32.72%;
}

.web-1920-2 .path-8-TcssUt {
  background-color: transparent;
  height: 69px;
  object-fit: cover;
  position: absolute;
  right: 1px;
  top: 89px;
  width: 60.77%;
}

.web-1920-2 .use-the-tablet-of-cr-TcssUt {
  background-color: transparent;
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 873px;
  text-align: center;
  top: calc(14.53% - 3px);
  white-space: nowrap;
  width: 24.82%;
}

.web-1920-2 .path-22-TcssUt {
  background-color: transparent;
  height: 69px;
  left: 39.22%;
  object-fit: cover;
  position: absolute;
  top: 200px;
  width: 60.77%;
}

.web-1920-2 .path-23-TcssUt {
  background-color: transparent;
  height: 69px;
  left: 39.22%;
  object-fit: cover;
  position: absolute;
  top: 308px;
  width: 60.77%;
}

.web-1920-2 .path-24-TcssUt {
  background-color: transparent;
  height: 69px;
  left: 39.22%;
  object-fit: cover;
  position: absolute;
  top: 415px;
  width: 60.77%;
}

.web-1920-2 .path-25-TcssUt {
  background-color: transparent;
  height: 69px;
  left: 39.22%;
  object-fit: cover;
  position: absolute;
  top: 522px;
  width: 60.77%;
}

.web-1920-2 .path-26-TcssUt {
  background-color: transparent;
  height: 69px;
  left: 39.22%;
  object-fit: cover;
  position: absolute;
  top: 630px;
  width: 60.77%;
}

.web-1920-2 .setup-nifty-the-watch-dog-bot-TcssUt {
  background-color: transparent;
  height: 25px;
  letter-spacing: 0.00px;
  line-height: 21px;
  position: absolute;
  right: 1169px;
  text-align: center;
  top: calc(28.25% - 7px);
  white-space: nowrap;
  width: 13.20%;
}

.web-1920-2 .develop-the-staking-TcssUt {
  background-color: transparent;
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 1051px;
  text-align: center;
  top: calc(42.00% - 10px);
  white-space: nowrap;
  width: 17.83%;
}

.web-1920-2 .develop-the-tokenomics-for-koinz-TcssUt {
  background-color: transparent;
  bottom: calc(44.25% - 11px);
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 1145px;
  text-align: center;
  white-space: nowrap;
  width: 14.14%;
}

.web-1920-2 .complete-and-launch-our-website-TcssUt {
  background-color: transparent;
  bottom: calc(30.55% - 8px);
  height: 25px;
  letter-spacing: 0.00px;
  line-height: 21px;
  position: absolute;
  right: 1141px;
  text-align: center;
  white-space: nowrap;
  width: 14.29%;
}

.web-1920-2 .develop-the-first-game-for-kongz-arcade-TcssUt {
  background-color: transparent;
  bottom: calc(16.35% - 4px);
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 1083px;
  text-align: center;
  white-space: nowrap;
  width: 16.57%;
}

.web-1920-2 .arts-07RRWM {
  background-color: transparent;
  height: 826px;
  left: 12.99%;
  position: absolute;
  top: 2225px;
  width: 74.02%;
}

.web-1920-2 .rectangle-3-tGjKcp {
  background-color: var(--voodoo);
  height: 100%;
  left: 0px;
  opacity: 0.43;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-2 .arts-tGjKcp {
  background-color: transparent;
  height: 41px;
  left: 75px;
  letter-spacing: 0.00px;
  line-height: 35px;
  position: absolute;
  text-align: left;
  top: 45px;
  white-space: nowrap;
  width: 132px;
}

.web-1920-2 .demo1-tGjKcp {
  background-color: transparent;
  height: 400px;
  left: 200px;
  object-fit: cover;
  position: absolute;
  top: calc(35.45% - 142px);
  width: 400px;
}

.web-1920-2 .demo2-tGjKcp {
  background-color: transparent;
  height: 400px;
  object-fit: cover;
  position: absolute;
  right: 137px;
  top: calc(35.45% - 142px);
  width: 400px;
}

.web-1920-2 .about-07RRWM {
  background-color: transparent;
  height: 826px;
  left: 12.99%;
  position: absolute;
  top: 3261px;
  width: 74.02%;
}

.web-1920-2 .rectangle-3-qb3ctS {
  background-color: var(--voodoo);
  height: 100%;
  left: 0px;
  opacity: 0.43;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-2 .about-qb3ctS {
  background-color: transparent;
  height: 41px;
  left: 42px;
  letter-spacing: 0.00px;
  line-height: 35px;
  position: absolute;
  text-align: left;
  top: 26px;
  white-space: nowrap;
  width: 166px;
}

.web-1920-2 .demo1-qb3ctS {
  background-color: transparent;
  height: 281px;
  left: calc(7.96% - 22px);
  object-fit: cover;
  position: absolute;
  top: 132px;
  width: 281px;
}

.web-1920-2 .demo1-b0Y7AZ {
  background-color: transparent;
  height: 281px;
  left: calc(36.07% - 101px);
  object-fit: cover;
  position: absolute;
  top: 132px;
  width: 281px;
}

.web-1920-2 .demo1-Tf49kF {
  background-color: transparent;
  height: 281px;
  object-fit: cover;
  position: absolute;
  right: calc(35.94% - 101px);
  top: 132px;
  width: 281px;
}

.web-1920-2 .demo1-odcrce {
  background-color: transparent;
  height: 281px;
  object-fit: cover;
  position: absolute;
  right: calc(7.96% - 22px);
  top: 132px;
  width: 281px;
}

.web-1920-2 .the-team-qb3ctS {
  background-color: transparent;
  bottom: -4px;
  height: 46px;
  left: calc(48.64% - 135px);
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 277px;
}

.web-1920-2 .rectangle-16-qb3ctS {
  background-color: var(--white);
  bottom: 54px;
  height: 331px;
  left: 4.96%;
  opacity: 0.04;
  position: absolute;
  width: 15.28%;
}

.web-1920-2 .the-captain-qb3ctS {
  background-color: transparent;
  bottom: 341px;
  height: 27px;
  left: 10.10%;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 5.07%;
}

.web-1920-2 .rectangle-17-qb3ctS {
  background-color: var(--white);
  bottom: 44px;
  height: 331px;
  left: 29.97%;
  opacity: 0.04;
  position: absolute;
  width: 15.28%;
}

.web-1920-2 .the-artist-qb3ctS {
  background-color: transparent;
  bottom: 342px;
  height: 27px;
  left: 35.35%;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 4.59%;
}

.web-1920-2 .rectangle-18-qb3ctS {
  background-color: var(--white);
  bottom: 54px;
  height: 331px;
  left: 54.87%;
  opacity: 0.04;
  position: absolute;
  width: 15.28%;
}

.web-1920-2 .the-botmaster-qb3ctS {
  background-color: transparent;
  bottom: 342px;
  height: 27px;
  left: 59.25%;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 6.60%;
}

.web-1920-2 .rectangle-19-qb3ctS {
  background-color: var(--white);
  bottom: 54px;
  height: 331px;
  left: 79.76%;
  opacity: 0.04;
  position: absolute;
  width: 15.28%;
}

.web-1920-2 .the-quartermaster-qb3ctS {
  background-color: transparent;
  bottom: 344px;
  height: 27px;
  left: 83.08%;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 8.72%;
}

.web-1920-2 .has-a-vision-that-on-qb3ctS {
  background-color: transparent;
  bottom: 146px;
  height: 144px;
  left: 5.27%;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 14.77%;
}

.web-1920-2 .known-to-paint-and-d-qb3ctS {
  background-color: transparent;
  bottom: 149px;
  height: 144px;
  left: 30.36%;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 14.57%;
}

.web-1920-2 .the-botmaster-has-bu-qb3ctS {
  background-color: transparent;
  bottom: 112px;
  height: 168px;
  left: 55.16%;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 14.77%;
}

.web-1920-2 .like-the-captain-the-qb3ctS {
  background-color: transparent;
  bottom: 125px;
  height: 168px;
  left: 80.18%;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 14.53%;
}

.web-1920-2 .faq-07RRWM {
  background-color: transparent;
  height: 743px;
  left: 12.99%;
  position: absolute;
  top: 4296px;
  width: 74.77%;
}

.web-1920-2 .rectangle-3-4oOCMw {
  background-color: var(--voodoo);
  height: 105px;
  left: 1px;
  opacity: 0.43;
  position: absolute;
  top: 0px;
  width: 133px;
}

.web-1920-2 .faq-4oOCMw {
  background-color: transparent;
  color: var(--yellow-sea);
  font-family: var(--font-family-eternallogo-regular);
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  height: 31px;
  left: 33px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 26px;
  white-space: nowrap;
  width: 68px;
}

.web-1920-2 .rectangle-7-4oOCMw {
  background-color: var(--white);
  height: 150px;
  left: 1px;
  position: absolute;
  top: 83px;
  width: 100%;
}

.web-1920-2 .path-4-4oOCMw {
  background-color: transparent;
  height: 150px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: calc(42.66% - 64px);
  width: 100%;
}

.web-1920-2 .path-5-4oOCMw {
  background-color: transparent;
  bottom: calc(28.67% - 43px);
  height: 150px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.web-1920-2 .path-6-4oOCMw {
  background-color: transparent;
  bottom: 0px;
  height: 150px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.web-1920-2 .rectangle-11-4oOCMw {
  background-color: var(--moonstone);
  height: 150px;
  left: 1px;
  opacity: 0.8;
  position: absolute;
  top: 83px;
  width: 100%;
}

.web-1920-2 .rectangle-12-4oOCMw {
  background-color: var(--moonstone);
  height: 75px;
  left: 1px;
  position: absolute;
  top: calc(23.65% - 18px);
  width: 100%;
}

.web-1920-2 .rectangle-13-4oOCMw {
  background-color: var(--moonstone);
  height: 75px;
  left: 1px;
  position: absolute;
  top: calc(49.10% - 37px);
  width: 100%;
}

.web-1920-2 .rectangle-14-4oOCMw {
  background-color: var(--moonstone);
  bottom: calc(25.45% - 19px);
  height: 75px;
  left: 1px;
  position: absolute;
  width: 100%;
}

.web-1920-2 .rectangle-15-4oOCMw {
  background-color: var(--moonstone);
  bottom: 0px;
  height: 75px;
  left: 1px;
  position: absolute;
  width: 100%;
}

.web-1920-2 .group-5-07RRWM {
  background-color: transparent;
  height: 242px;
  position: absolute;
  right: calc(17.85% - 167px);
  top: 759px;
  width: 938px;
}

.web-1920-2 .not-decided-JAQfXk {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 938px;
}

.web-1920-2 .path-19-s3bwmI {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-2 .path-21-s3bwmI {
  background-color: transparent;
  height: 44px;
  left: 81px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 81px);
}

.web-1920-2 .our-game-s3bwmI {
  background-color: transparent;
  height: 27px;
  left: 123px;
  letter-spacing: 0.00px;
  line-height: 22.5px;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: 97px;
}

.web-1920-2 .arcade_logo-JAQfXk {
  background-color: transparent;
  height: 169px;
  object-fit: cover;
  position: absolute;
  right: 220px;
  top: 37px;
  width: 497px;
}

.web-1920-2 .header-and-back-ground-07RRWM {
  background-color: transparent;
  height: 191px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 3440px;
}

.web-1920-2 .path-1-wQTAGm {
  background-color: transparent;
  height: 93px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-2 .rectangle-1-wQTAGm {
  background-color: var(--voodoo);
  height: 10px;
  left: 1px;
  position: absolute;
  top: calc(48.62% - 5px);
  width: calc(100.00% - 1px);
}

.web-1920-2 .ellipse-1-wQTAGm {
  background-color: var(--mine-shaft);
  border-radius: 86.5px/87px;
  height: calc(100.00% - 17px);
  left: 39px;
  position: absolute;
  top: 5px;
  width: 173px;
}

.web-1920-2 .logo-wQTAGm {
  background-color: transparent;
  height: calc(100.00% - 9px);
  left: 42px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 182px;
}

.web-1920-2 .component-3-2-wQTAGm {
  background-color: transparent;
  height: 63px;
  left: 247px;
  position: absolute;
  top: 15px;
  width: 1049px;
}

.web-1920-2 .path-2-MLFSSD {
  background-color: transparent;
  height: calc(100.00% + 1px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% + 1px);
}

.web-1920-2 .group-6-07RRWM {
  background-color: transparent;
  height: 43px;
  position: absolute;
  right: 589px;
  top: 22px;
  width: 170px;
}

.web-1920-2 .component-6-5-qylCzf {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 1px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 0px;
  transition: all 0.2s ease;
  width: 100%;
}

.web-1920-2 .component-6-5-qylCzf:hover {
  filter: blur(4px);
}

.web-1920-2 .roadmap-qylCzf {
  background-color: transparent;
  height: 48.86%;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  right: 43px;
  text-align: left;
  top: 30.22%;
  white-space: nowrap;
  width: 47.74%;
}

.web-1920-2 .group-7-07RRWM {
  background-color: transparent;
  height: 43px;
  position: absolute;
  right: 438px;
  top: 22px;
  width: 170px;
}

.web-1920-2 .component-6-6-SUBcrq {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 0px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 0px;
  transition: all 0.2s ease;
  width: 100%;
}

.web-1920-2 .component-6-6-SUBcrq:hover {
  filter: blur(4px);
}

.web-1920-2 .art-SUBcrq {
  background-color: transparent;
  height: 48.86%;
  left: 40.87%;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 30.22%;
  white-space: nowrap;
  width: 19.45%;
}

.web-1920-2 .group-8-07RRWM {
  background-color: transparent;
  height: 43px;
  position: absolute;
  right: 287px;
  top: 22px;
  width: 170px;
}

.web-1920-2 .component-6-7-Hq8ZCp {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 1px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 0px;
  transition: all 0.2s ease;
  width: 100%;
}

.web-1920-2 .component-6-7-Hq8ZCp:hover {
  filter: blur(4px);
}

.web-1920-2 .about-Hq8ZCp {
  background-color: transparent;
  height: 46.53%;
  left: 34.97%;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 31.39%;
  white-space: nowrap;
  width: 31.23%;
}

.web-1920-2 .group-9-07RRWM {
  background-color: transparent;
  cursor: pointer;
  height: 43px;
  pointer-events: auto;
  position: absolute;
  right: 135px;
  top: 22px;
  transition: all 0.2s ease;
  width: 170px;
}

.web-1920-2 .group-9-07RRWM:hover {
  filter: blur(4px);
}

.web-1920-2 .component-6-8-UNTmAb {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-2 .faq-UNTmAb {
  background-color: transparent;
  height: 46.53%;
  left: 42.34%;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 31.39%;
  white-space: nowrap;
  width: 16.50%;
}
