/* screen - fhd */

.fhd {
  background-color: var(--white);
  height: 6898px;
  overflow: hidden;
  position: relative;
  width: 1920px;
}

.fhd .overlap-group20 {
  height: 5737px;
  left: -3461px;
  position: absolute;
  top: 1px;
  width: 6510px;
}

.fhd .background-purple {
  height: 4805px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 6510px;
}

.fhd .overlap-group {
  height: 243px;
  left: 3973px;
  position: absolute;
  top: 767px;
  width: 897px;
}

.fhd .path-16 {
  height: 243px;
  left: 214px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 683px;
}

.fhd .path-17 {
  height: 243px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 294px;
}

.fhd .path-18 {
  height: 45px;
  left: 289px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 608px;
}

.fhd .social-media {
  left: 315px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}

.fhd .community-logo {
  border-radius: 37px;
  height: 183px;
  left: 66px;
  object-fit: cover;
  position: absolute;
  top: 40px;
  width: 183px;
}

.fhd .discord {
  cursor: pointer;
  height: 142px;
  left: 338px;
  object-fit: cover;
  position: absolute;
  top: 66px;
  width: 140px;
}

.fhd .twitter {
  height: 142px;
  left: 576px;
  object-fit: cover;
  position: absolute;
  top: 66px;
  width: 140px;
}

.fhd .overlap-group1-2 {
  height: 564px;
  left: 3503px;
  position: absolute;
  top: 158px;
  width: 1836px;
}

.fhd .path-14 {
  height: 538px;
  left: 474px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1362px;
}

.fhd .path-7 {
  height: 538px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 651px;
}

.fhd .path-15 {
  height: 99px;
  left: 646px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1190px;
}

.fhd .component-8-2 {
  background-color: var(--moonstone);
  border-radius: 48px;
  height: 197px;
  left: 95px;
  opacity: 0.66;
  position: absolute;
  top: 201px;
  width: 139px;
}

.fhd .mintnow {
  left: 138px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 274px;
  white-space: nowrap;
}

.fhd .welcome-to-the-culture {
  left: 678px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 30px;
  white-space: nowrap;
}

.fhd .the-cultured-kongz-a {
  color: var(--white);
  font-family: var(--font-family-eternalui-regular);
  font-size: var(--font-size-xxl2);
  font-weight: 400;
  left: 667px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 136px;
  white-space: nowrap;
}

.fhd .card-final {
  height: 440px;
  left: 261px;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 330px;
}

.fhd .arts {
  background-color: var(--voodoo);
  height: 1004px;
  left: 3501px;
  position: absolute;
  top: 3367px;
  width: 1839px;
}

.fhd .arts-1 {
  left: 854px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 32px;
  white-space: nowrap;
}

.fhd .demo1 {
  background-image: url(https://cdn.animaapp.com/projects/62130793c629f8362ca484e0/files/astronaut.gif);
  background-position: 50% 50%;
  background-size: cover;
  height: 400px;
  left: 259px;
  position: absolute;
  top: 69px;
  width: 400px;
}

.fhd .demo1 video {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.fhd .demo1 img {
  object-fit: cover;
}

.fhd .demo2 {
  background-image: url(https://cdn.animaapp.com/projects/62130793c629f8362ca484e0/files/terminator.gif);
  background-position: 50% 50%;
  background-size: cover;
  height: 400px;
  left: 1176px;
  position: absolute;
  top: 69px;
  width: 400px;
}

.fhd .demo2 video {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.fhd .demo2 img {
  object-fit: cover;
}

.fhd .demo1-1 {
  background-image: url(https://cdn.animaapp.com/projects/62130793c629f8362ca484e0/files/super-saiyan.gif);
  background-position: 50% 50%;
  background-size: cover;
  height: 400px;
  left: 259px;
  position: absolute;
  top: 532px;
  width: 400px;
}

.fhd .demo1-1 video {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.fhd .demo1-1 img {
  object-fit: cover;
}

.fhd .demo2-1 {
  background-image: url(https://cdn.animaapp.com/projects/62130793c629f8362ca484e0/files/joker.gif);
  background-position: 50% 50%;
  background-size: cover;
  height: 400px;
  left: 1176px;
  position: absolute;
  top: 532px;
  width: 400px;
}

.fhd .demo2-1 video {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.fhd .demo2-1 img {
  object-fit: cover;
}

.fhd .about {
  background-color: var(--voodoo);
  height: 1247px;
  left: 3502px;
  position: absolute;
  top: 4490px;
  width: 1839px;
}

.fhd .about-1 {
  left: 41px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 25px;
  white-space: nowrap;
}

.fhd .demo1-2 {
  height: 281px;
  left: 96px;
  object-fit: cover;
  position: absolute;
  top: 131px;
  width: 281px;
}

.fhd .demo1-3 {
  height: 281px;
  left: 436px;
  object-fit: cover;
  position: absolute;
  top: 131px;
  width: 281px;
}

.fhd .demo1-4 {
  height: 281px;
  left: 778px;
  object-fit: cover;
  position: absolute;
  top: 131px;
  width: 281px;
}

.fhd .demo1-5 {
  height: 281px;
  left: 1120px;
  object-fit: cover;
  position: absolute;
  top: 131px;
  width: 281px;
}

.fhd .the-crew {
  left: 781px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 602px;
  white-space: nowrap;
}

.fhd .overlap-group8 {
  background-color: var(--white-2);
  height: 140px;
  left: 96px;
  position: absolute;
  top: 451px;
  width: 281px;
}

.fhd .blink {
  left: 107px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}

.fhd .founder-tokenomics {
  left: 80px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 49px;
  white-space: nowrap;
}

.fhd .overlap-group7 {
  background-color: var(--white-2);
  height: 140px;
  left: 438px;
  position: absolute;
  top: 451px;
  width: 281px;
}

.fhd .icyreggie {
  left: 83px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}

.fhd .co-founder-advisor {
  left: 78px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 49px;
  white-space: nowrap;
}

.fhd .overlap-group3 {
  background-color: var(--white-2);
  height: 140px;
  left: 778px;
  position: absolute;
  top: 451px;
  width: 281px;
}

.fhd .crow {
  left: 106px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}

.fhd .artist {
  left: 109px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 70px;
  white-space: nowrap;
}

.fhd .overlap-group6 {
  background-color: var(--white-2);
  height: 140px;
  left: 1121px;
  position: absolute;
  top: 451px;
  width: 281px;
}

.fhd .bewinxed {
  left: 84px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}

.fhd .developer {
  left: 90px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 59px;
  white-space: nowrap;
}

.fhd .demo1-6 {
  height: 281px;
  left: 1460px;
  object-fit: cover;
  position: absolute;
  top: 131px;
  width: 281px;
}

.fhd .overlap-group5 {
  background-color: var(--white-2);
  height: 140px;
  left: 1462px;
  position: absolute;
  top: 451px;
  width: 281px;
}

.fhd .sn00ze {
  left: 98px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}

.fhd .tokenomicsadvisor {
  left: 84px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 61px;
  white-space: nowrap;
}

.fhd .demo1-7 {
  height: 281px;
  left: 436px;
  object-fit: cover;
  position: absolute;
  top: 676px;
  width: 281px;
}

.fhd .demo1-8 {
  height: 281px;
  left: 1120px;
  object-fit: cover;
  position: absolute;
  top: 676px;
  width: 281px;
}

.fhd .overlap-group2 {
  background-color: var(--white-2);
  height: 140px;
  left: 437px;
  position: absolute;
  top: 996px;
  width: 281px;
}

.fhd .fawnzee {
  left: 89px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}

.fhd .developer-1 {
  left: 86px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 59px;
  white-space: nowrap;
}

.fhd .overlap-group4 {
  background-color: var(--white-2);
  height: 140px;
  left: 1121px;
  position: absolute;
  top: 996px;
  width: 281px;
}

.fhd .xew {
  left: 119px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}

.fhd .animatorgraphic-designer {
  left: 57px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 50px;
  white-space: nowrap;
}

.fhd .the-posse {
  left: 766px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 1137px;
  white-space: nowrap;
}

.fhd .group-12 {
  height: 422px;
  left: 3503px;
  position: absolute;
  top: 1468px;
  width: 1836px;
}

.fhd .overlap-group1 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/62130793c629f8362ca484e0/releases/62632bad1681dd898a407d4b/img/path-28-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 93px;
  left: 0;
  position: absolute;
  top: 0;
  width: 892px;
}

.fhd .profession {
  left: 251px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 31px;
  white-space: nowrap;
}

.fhd .professions {
  background-image: url(https://cdn.animaapp.com/projects/62130793c629f8362ca484e0/files/professions.gif);
  background-position: 50% 50%;
  background-size: cover;
  height: 282px;
  left: 0;
  position: absolute;
  top: 139px;
  width: 502px;
}

.fhd .professions video {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.fhd .professions img {
  object-fit: cover;
}

.fhd .overlap-group1-1 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/62130793c629f8362ca484e0/releases/62632bad1681dd898a407d4b/img/path-19-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 282px;
  left: 534px;
  position: absolute;
  top: 139px;
  width: 1302px;
}

.fhd .profess {
  left: 54px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 49px;
  white-space: nowrap;
}

.fhd .group-13 {
  height: 422px;
  left: 3503px;
  position: absolute;
  top: 2137px;
  width: 1836px;
}

.fhd .building {
  left: 279px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 31px;
  white-space: nowrap;
}

.fhd .professions-1 {
  background-image: url(https://cdn.animaapp.com/projects/62130793c629f8362ca484e0/files/building.gif);
  background-position: 50% 50%;
  background-size: cover;
  height: 282px;
  left: 0;
  position: absolute;
  top: 140px;
  width: 502px;
}

.fhd .professions-1 video {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.fhd .professions-1 img {
  object-fit: cover;
}

.fhd .overlap-group16 {
  height: 300px;
  left: 534px;
  position: absolute;
  top: 139px;
  width: 1302px;
}

.fhd .group-5 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/62130793c629f8362ca484e0/releases/62632bad1681dd898a407d4b/img/path-19-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 282px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1302px;
}

.fhd .buil {
  left: 49px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 29px;
  white-space: nowrap;
}

.fhd .group-14 {
  height: 422px;
  left: 3503px;
  position: absolute;
  top: 2806px;
  width: 1836px;
}

.fhd .exploration {
  left: 246px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 31px;
  white-space: nowrap;
}

.fhd .professions-2 {
  background-image: url(https://cdn.animaapp.com/projects/62130793c629f8362ca484e0/files/exploration.gif);
  background-position: 50% 50%;
  background-size: cover;
  height: 282px;
  left: 0;
  position: absolute;
  top: 140px;
  width: 502px;
}

.fhd .professions-2 video {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.fhd .professions-2 img {
  object-fit: cover;
}

.fhd .after {
  left: 38px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 85px;
  white-space: nowrap;
}

.fhd .path-29 {
  height: 116px;
  left: 3461px;
  object-fit: cover;
  position: absolute;
  top: 1078px;
  width: 1920px;
}

.fhd .title {
  color: var(--white);
  font-family: var(--font-family-eternalui-bold);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  left: 4224px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 1112px;
  white-space: nowrap;
}

.fhd .faq {
  height: 743px;
  left: 40px;
  position: absolute;
  top: 5833px;
  width: 1839px;
}

.fhd .overlap-group10 {
  height: 233px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1839px;
}

.fhd .rectangle-3 {
  background-color: var(--voodoo-2);
  height: 105px;
  left: 0;
  opacity: 0.43;
  position: absolute;
  top: 0;
  width: 170px;
}

.fhd .faq-1 {
  left: 42px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 26px;
  white-space: nowrap;
}

.fhd .rectangle-7 {
  background-color: var(--white);
  height: 150px;
  left: 0;
  position: absolute;
  top: 83px;
  width: 1839px;
}

.fhd .rectangle-11 {
  background-color: var(--moonstone);
  height: 150px;
  left: 0;
  opacity: 0.8;
  position: absolute;
  top: 83px;
  width: 1839px;
}

.fhd .rectangle-12 {
  background-color: var(--moonstone);
  height: 75px;
  left: 0;
  position: absolute;
  top: 158px;
  width: 1839px;
}

.fhd .overlap-group9 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/62130793c629f8362ca484e0/releases/621955e8933987a52fb5a2df/img/path-4@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 150px;
  left: 0;
  position: absolute;
  top: 253px;
  width: 1839px;
}

.fhd .rectangle-1 {
  background-color: var(--moonstone);
  height: 75px;
  position: relative;
  top: 75px;
}

.fhd .overlap-group12 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/62130793c629f8362ca484e0/releases/621955e8933987a52fb5a2df/img/path-4@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 150px;
  left: 0;
  position: absolute;
  top: 423px;
  width: 1839px;
}

.fhd .overlap-group11 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/62130793c629f8362ca484e0/releases/621955e8933987a52fb5a2df/img/path-4@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 150px;
  left: 0;
  position: absolute;
  top: 593px;
  width: 1839px;
}

.fhd .header-and-back-ground {
  height: 179px;
  left: 0;
  position: fixed;
  top: 0;
  width: 3545px;
}

.fhd .overlap-group19 {
  height: 179px;
  position: relative;
}

.fhd .path-1 {
  height: 93px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 3545px;
}

.fhd .rectangle-1-1 {
  background-color: var(--voodoo-2);
  height: 10px;
  left: 1px;
  position: absolute;
  top: 88px;
  width: 3544px;
}

.fhd .ellipse-1 {
  background-color: var(--mine-shaft);
  border-radius: 86.5px/87px;
  height: 174px;
  left: 39px;
  position: absolute;
  top: 5px;
  width: 173px;
}

.fhd .logo {
  height: 167px;
  left: 42px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 167px;
}

.fhd .component-3-1 {
  height: 42px;
  left: 240px;
  position: absolute;
  top: 25px;
  width: 700px;
}

.fhd .path-2 {
  height: 43px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 701px;
}

.fhd .overlap-group-1 {
  height: 43px;
  left: 1075px;
  position: absolute;
  top: 22px;
  width: 170px;
}

.fhd .component-6 {
  cursor: pointer;
  height: 43px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 170px;
}

.fhd .component-6:hover {
  filter: blur(4px);
}

.fhd .roadmap {
  left: 45px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  top: 13px;
  white-space: nowrap;
}

.fhd .overlap-group1-3 {
  height: 43px;
  left: 1226px;
  position: absolute;
  top: 22px;
  width: 170px;
}

.fhd .art {
  left: 69px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  top: 13px;
  white-space: nowrap;
}

.fhd .overlap-group2-1 {
  height: 43px;
  left: 1377px;
  position: absolute;
  top: 22px;
  width: 170px;
}

.fhd .about-2 {
  left: 59px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 13px;
  white-space: nowrap;
}

.fhd .group-4 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/62130793c629f8362ca484e0/releases/62197b575fd711eb2cf78486/img/component-6---1-1x-png-1x-png-1x-png-1x-png-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  height: 43px;
  left: 1528px;
  position: absolute;
  top: 22px;
  transition: all 0.2s ease;
  width: 170px;
}

.fhd .group-4:hover {
  filter: blur(4px);
}

.fhd .faq-2 {
  left: 72px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 13px;
  white-space: nowrap;
}
