:root { 
  --dove-gray-22: #7070700a;
  --dove-gray-3: #7070706e;
  --dove-gray2: #707070;
  --fuchsia-pink: #bf5db2;
  --mine-shaft: #303030;
  --moonstone: #3ca5d7;
  --voodoo: #5a35556e;
  --voodoo-2: #5a3555;
  --white: #ffffff;
  --white-2: #ffffff0a;
  --yellow-sea: #fba900;
 
  --font-size-l2: 25px;
  --font-size-s2: 20px;
  --font-size-xl2: 30px;
  --font-size-xs2: 17px;
  --font-size-xxl2: 35px;
  --font-size-xxxl: 33px;
  --font-size-xxxl2: 40px;
 
  --font-family-eternallogo-regular: "EternalLogo-Regular", Helvetica;
  --font-family-eternalui-bold: "EternalUI-Bold", Helvetica;
  --font-family-icielcadena-regular: "iCielCadena-Regular", Helvetica;
}
.icielcadena-regular-normal-white-30px {
  color: var(--white);
  font-family: var(--font-family-icielcadena-regular);
  font-size: var(--font-size-xl2);
  font-style: normal;
  font-weight: 400;
}

.eternalui-bold-white-25px {
  color: var(--white);
  font-family: var(--font-family-eternalui-bold);
  font-size: var(--font-size-l2);
  font-style: normal;
  font-weight: 700;
}

.eternalui-bold-white-20px {
  color: var(--white);
  font-family: var(--font-family-eternalui-bold);
  font-size: var(--font-size-s2);
  font-style: normal;
  font-weight: 700;
}

.eternalui-bold-white-30px {
  color: var(--white);
  font-family: var(--font-family-eternalui-bold);
  font-size: var(--font-size-xl2);
  font-style: normal;
  font-weight: 700;
}

.eternallogo-regular-normal-yellow-sea-35px {
  color: var(--yellow-sea);
  font-family: var(--font-family-eternallogo-regular);
  font-size: var(--font-size-xxl2);
  font-style: normal;
  font-weight: 400;
}

.eternalui-bold-white-17px {
  color: var(--white);
  font-family: var(--font-family-eternalui-bold);
  font-size: var(--font-size-xs2);
  font-style: normal;
  font-weight: 700;
}

.eternalui-bold-white-16px {
  color: var(--white);
  font-family: var(--font-family-eternalui-bold);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.eternallogo-regular-normal-yellow-sea-40px {
  color: var(--yellow-sea);
  font-family: var(--font-family-eternallogo-regular);
  font-size: var(--font-size-xxxl2);
  font-style: normal;
  font-weight: 400;
}

.eternalui-bold-white-40px {
  color: var(--white);
  font-family: var(--font-family-eternalui-bold);
  font-size: var(--font-size-xxxl2);
  font-style: normal;
  font-weight: 700;
}

.border-1px-dove-gray {
  border: 1px solid var(--dove-gray2);
}

.border-1px-dove-gray-2 {
  border: 1px solid var(--dove-gray-22);
}

.border-1px-dove-gray-3 {
  border: 1px solid var(--dove-gray-3);
}
